/* General */
.container {
	background-color: #F2784B;
	height: 100%;
}
.secondaryColor {
  color: #FDE3A7;
}

/* pizza sidebar */
.pizzaMain {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #F2784B;
	color: #fff;
	height: 100%;
	padding: 2%;
	left: 40%;
}
.pizzaForm.row {
	max-width: 100%;
}
.pizzaForm {
	height: 100%;
}
.pizzaSidebar {
	left: 0;
	transition: left 1s;
}
.formElements {
	padding: 0 10%;
}
#hungerLabel {
	color: #FDE3A7;
}

/* Map stuff */
.mapCanvas {
	height: 100%;
}
.mapCanvas.columns {
	padding: 0;
}
.mapCanvasRight {
	display: block;
	width: 70%;
	transition: width 2s;
	-webkit-transition: width 2s;
}

/* Polymer stuff */
paper-input /deep/ ::-webkit-input-placeholder {
	color: #fff;
}
paper-input /deep/ ::-moz-placeholder {
	color: #fff;
}
paper-input /deep/ :-ms-input-placeholder {
	color: #fff;
}
paper-input, paper-slider {
	color: #fff;
	width: 100%;
}
paper-slider::shadow #sliderKnobInner,
paper-slider::shadow #sliderBar::shadow #activeProgress,
paper-slider::shadow #sliderKnobInner::before {
	background-color: #f4b400;
}
paper-button {
	background-color: #4ECDC4;
	width: 100%;
	margin: 0;
}
paper-slider::shadow #sliderBar::shadow #progressContainer,
paper-slider::shadow .slider-markers::after,
paper-slider::shadow .slider-marker::after {
	background-color: #ddd;
}
